<nav th:if="${shortUrls.totalPages > 1}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${shortUrls.isFirst ? 'disabled' : ''}">
            <a class="page-link" th:href="@{${paginationUrl}(page=1)}" aria-label="First">
                <span aria-hidden="true">Primeiro</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${shortUrls.isFirst ? 'disabled' : ''}">
            <a class="page-link" th:href="@{${paginationUrl}(page=${shortUrls.pageNumber - 1})}" aria-label="Previous">
                <span aria-hidden="true">Anterior</span>
            </a>
        </li>
        <li class="page-item disabled">
                        <span class="page-link" aria-label="Current Page Number of Total Pages"
                              th:text="${'Page '+shortUrls.pageNumber + ' of ' + shortUrls.totalPages + ' (Total: ' + shortUrls.totalElements+')'}">
                           Página 1 de 10 (Total: 200)
                        </span>
        </li>
        <li class="page-item" th:classappend="${shortUrls.isLast ? 'disabled' : ''}">
            <a class="page-link" th:href="@{${paginationUrl}(page=${shortUrls.pageNumber + 1})}" aria-label="Next">
                <span aria-hidden="true">Próximo</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${shortUrls.isLast ? 'disabled' : ''}">
            <a class="page-link" th:href="@{${paginationUrl}(page=${shortUrls.totalPages})}" aria-label="Last">
                <span aria-hidden="true">Último</span>
            </a>
        </li>
    </ul>
</nav>